<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="angular.min.js"></script>
</head>
<body ng-app="meuApp" ng-controller="meuCtrl">
    <input type="text" ng-model="nome">
    {{nome}}

    <script type="text/javascript">
        var app = angular.module("meuApp", []);
        app.controller("meuCtrl", function ($scope) {
            $scope.nome = "Testando o Controlador";
        })
    </script>

</body>
</html>