<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="angular.min.js"></script>
</head>
<body ng-app="Evento" ng-controller="ECtrl">

<!--Modo facil e rapido -->
<button ng-click="contador = contador + 1">+1</button>
<!--Modo recomendado -->
<button ng-click="adicionar2()">+2</button>
<p>{{contador}}</p>

<button ng-click="menu()">{{botao}}</button> <br>
<div ng-show="show">
    <h1>Menu</h1>
    <div>Pizza</div>
    <div>Massas</div>
    <div>Bebidas</div>
</div><br>

<button ng-mouseover="mostrar()" ng-mouseleave="esconder()">Menu2</button>
<div ng-show="show2">
    <h1>Menu2</h1>
    <div>Pizza</div>
    <div>Massas</div>
    <div>Bebidas</div>
</div>

<script type="text/javascript">
    var app = angular.module("Evento", []);
    app.controller("ECtrl", function($scope){
        $scope.contador = 0;
        $scope.adicionar2 = function () {
            $scope.contador = $scope.contador +2;
        };

        $scope.show = false;
        $scope.botao = "Mostrar";
        $scope.menu = function () {
            if($scope.show == false){
                $scope.show = true;
                $scope.botao = "Esconder";
            }else{
                $scope.show = false;
                $scope.botao = "Mostrar";
            }
        };

        $scope.show2 = false;
        $scope.mostrar = function(){
            $scope.show2 = true;
        };
        $scope.esconder = function(){
            $scope.show2 = false;
        }
    });
</script>
</body>
</html>