<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="angular.min.js"></script>
</head>
<body>
    <div ng-app="" ng-init="carregar alguma coisa antes">

        <div style="background-color:{{cor}};">A cor dessa div é: <input type="text" ng-model="cor"></div>

        Nome: <input type="text" ng-model="nome">
        Sobrenome: <input type="text" ng-model="sobrenome">

        <p>{{nome + " " + sobrenome}}</p>

        Digite a cotação do dolar: <input type="number" ng-model="cotacao"><br>
        Digite numero em reais: <input type="number" ng-model="real"><br>
        Digite o numero em dolar: <input type="number" ng-model="dolar">

        <p>{{real}} Reais =  {{real/cotacao}} Dolares</p>
        <p>{{dolar}} Dolares = {{dolar * cotacao}} Reais</p>





    </div>

</body>
</html>