<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="angular.min.js"></script>
</head>
<body ng-app="Repetidor" ng-controller="Controlador">
<h1>Nomes e Paises</h1>
Ordenar tabela por: <select ng-model="Ordenar" ng-options="x for x in opcoes">

</select>

<table border="0" width="500">
    <tr>
        <th align="left" ng-repeat="op in opcoes">{{op | uppercase}}</th>

    </tr>
    <tr ng-repeat="x in ListaDeNomes | orderBy:Ordenar">
        <td>{{x.nome}}</td>
        <td>{{x.pais}}</td>
    </tr>
</table>
<h1>Receita de Bolo</h1>
Filtrar por:<input type="text" ng-model="filtro">
<ul>
    <li ng-repeat="x in ingredientes | filter:filtro">  {{x}}   </li>
</ul>

<ul>
    <li ng-repeat="x in quantidade | filter:filtro">{{x.ing}}: {{x.qt}}</li>
</ul>

<script type="text/javascript">
    var app = angular.module("Repetidor", []);
    app.controller("Controlador", function ($scope) {
        $scope.opcoes = ["nome","pais"];
        $scope.ListaDeNomes = [
            {nome:"Andre", pais: "Brasil"},
            {nome:"Mirele", pais: "Alemanha"},
            {nome:"Joao", pais: "Russia"},
            {nome:"Hugo", pais: "Japao"},
            {nome:"Carlos", pais: "Portugal"},
            {nome:"Yoda", pais: "Venezuela"},]
        $scope.ingredientes = ["Farinha", "Leite", "Ovo", "Chocolate"];
        $scope.quantidade = [
            {ing:"Farinha", qt:"200g"},
            {ing:"Leite", qt:"2l"},
            {ing:"Ovo", qt:"5 ovos"},
            {ing:"Chocolate", qt:"100g"}];
    });
</script>

</body>
</html>