<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="angular.min.js"></script>
</head>
<body ng-app="http" ng-controller="httpCtrl">

    <h1>Lista de nomes e idade</h1>

    <ul>
        <li ng-repeat="x in nomes">{{x.nome}} tem {{x.idade}} anos</li>
    </ul>


<script type="text/javascript">
    var app = angular.module("http", []);
    app.controller("httpCtrl", function ($scope, $http) {
        $scope.nomes = [];
        $http.get("http://phpdozeroaoprofissional.com.br/testeangularjs.php").then(function (response) {
            /*{"resultado":[{"nome":"Bonieky","idade":"99"},{"nome":"Fulano","idade":"25"},
            {"nome":"Cicrano","idade":"33"},{"nome":"Beltrano","idade":"47"},
            {"nome":"Augusto","idade":"64"},{"nome":"Felipe","idade":"17"},
            {"nome":"Amanda","idade":"12"}]}*/
            $scope.nomes = response.data.resultado;
        })
    })
</script>
</body>
</html>