<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="angular.min.js"></script>
</head>
<body ng-app="Repetidor" ng-controller="Controlador">
    <h1>Receita de Bolo</h1>
    <ul>
        <li ng-repeat="x in ingredientes">  {{x}}   </li>
    </ul>

    <ul>
        <li ng-repeat="x in quantidade">{{x.nome}}: {{x.qt}}</li>
    </ul>

    <script type="text/javascript">
        var app = angular.module("Repetidor", []);
        app.controller("Controlador", function ($scope) {
            $scope.ingredientes = ["Farinha", "Leite", "Ovo", "Chocolate"];
            $scope.quantidade = [{"nome":"Farinha", "qt":"200g"},
                {"nome":"Leite", "qt":"2l"},
                {"nome":"Ovo", "qt":"5 ovos"},
                {"nome":"Chocolate", "qt":"100g"}];
        });
    </script>

</body>
</html>