<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="angular.min.js"></script>
</head>
<body ng-app="SH" ng-controller="SHCtrl">
    <h1>Restaurante</h1>
    <p>Aberto das 12 as 22h</p>
    Digite a hora atual: <input type="number" ng-model="hora">

    <p ng-show="hora >= 12 && hora<=22">Aberto</p>
    <p ng-show="hora < 12 || hora > 22">Fechado</p>
<script type="text/javascript">
    var app = angular.module("SH",[]);
    app.controller("SHCtrl", function ($scope) {
    })
</script>
</body>
</html>