<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrinho de Compras</title>
    <script type="text/javascript" src="angular.min.js"></script>
</head>
<body ng-app="Carrinho" ng-controller="CarrinhoCtrl">

<h2>Lista de Compras</h2>

<input type="text" ng-model="addTexto">
<button ng-click="addProduto()">Adicionar</button>
<span>{{aviso}}</span>

<ul>
    <li ng-repeat="p in lista">{{p}} <button ng-click="removerProduto($index)">Remover</button></li>
</ul>

<script type="text/javascript">
    var app = angular.module("Carrinho", []);
    app.controller("CarrinhoCtrl", function ($scope) {
        $scope.lista = ["Leite", "Pão"];
        $scope.aviso = "";

        $scope.addProduto = function () {
            $scope.aviso = "";

            if($scope.addTexto != '' && scope.addTexto != undefined) {
                if($scope.lista.indexOf($scope.addTexto) == -1) {
                    $scope.lista.push($scope.addTexto);
                }else{
                    $scope.aviso = window.alert("Não pode adicionar repetido");
                }
            }else{
                $scope.aviso = window.alert("Não pode adicionar item sem nome");
            }
            $scope.addTexto = "";
        };
        
        $scope.removerProduto = function (index) {
            $scope.aviso = "";
            $scope.lista.splice(index, 1);
        }
    });
</script>
</body>
</html>