<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="angular.min.js"></script>
</head>
<body ng-app="Validacao" ng-controller="VCtrl">
<form name="form">
    <input type="email" name="email" ng-model="meuEmail" required>
    <span ng-show="form.email.$dirty && form.email.$invalid" style="color: red">✖ Email Invalido</span>
    <span ng-show="form.email.$dirty && form.email.$valid" style="color: lawngreen">✔ Email Valido</span>
    <br><br>
    <input type="submit" value="Enviar">
</form>

<script type="text/javascript">
    var app = angular.module("Validacao", []);
    app.controller("VCtrl", function () {
        
    });
</script>
</body>
</html>