.Bola{
     width: 100px;
     height: 100px;
     border-radius: 50px;
     position: absolute;
 }

.placar{
    width: 200px;
    height: 200px;
    border: 1px;
    solid-color: black;
    float: left;
    margin-right: 10px;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
    background-color: #EEEEEE;
    left: 800px;
    top: 10px;
    position: absolute;
    z-index: 999999;
}